<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页_杨青个人博客 - 一个站在web前端设计之路的女技术员个人博客网站</title>
    <meta name="keywords" content="个人博客,杨青个人博客,个人博客模板,杨青"/>
    <meta name="description" content="杨青个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/infopic.css" rel="stylesheet">
    <link href="/css/m.css" rel="stylesheet">
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/piccontent.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/hc-sticky.js"></script>
    <script type="text/javascript" src="/js/comm.js"></script>

</head>
<body>
<% include components/nav.inc.ejs %>

<article>
    <aside>
        <div class="l_box">
            <% include components/about.inc.ejs %>
            <% include components/album.inc.ejs %>
            <% include components/follow.inc.ejs %>

        </div>
    </aside>
    <div class="picsbox">
        <main>
            <div class="bodymodal"></div>
            <!--播放到第一张图的提示-->
            <div class="firsttop">
                <div class="firsttop_right">
                    <div class="close2"><a class="closebtn1" title="关闭" href="javascript:void(0)"></a></div>
                    <div class="replay">
                        <h2 id="div-end-h2"> 已到第一张图片了。 </h2>
                        <p><a class="replaybtn1" href="javascript:;">重新播放</a></p>
                    </div>
                </div>
            </div>
            <!--播放到最后一张图的提示-->
            <div class="endtop">
                <div class="firsttop_right">
                    <div class="close2"><a class="closebtn2" title="关闭" href="javascript:void(0)"></a></div>
                    <div class="replay">
                        <h2 id="H1"> 已到最后一张图片了。 </h2>
                        <p><a class="replaybtn2" href="javascript:;">重新播放</a></p>
                    </div>
                </div>
            </div>
            <!--弹出层结束-->
            <!--图片特效内容开始-->
            <div class="piccontext">
                <h2> <%= album.name %> </h2>
                <div class="source">
                    <div class="source_left"><span><%= album.time %></span></div>
                    <div class="source_right"><a href="javascript:;" class="list">列表查看</a></div>
                    <div class="source_right1"><a href="javascript:;" class="gaoqing">高清查看</a></div>
                </div>
                <!--大图展示-->
                <div class="picshow">
                    <div class="picshowtop">
                        <a href="#"><img src="" alt="" id="pic1" curindex="0"/></a>
                        <a id="preArrow"
                           href="javascript:void(0)"
                           class="contextDiv"
                           title="上一张">
                            <span id="preArrow_A"></span>
                        </a>
                        <a id="nextArrow" href="javascript:void(0)"
                           class="contextDiv" title="下一张">
                            <span id="nextArrow_A"></span>
                        </a>
                    </div>
                    <div class="picshowtxt">
                        <div class="picshowtxt_left">
                            <span>1</span>/<i><%= album.srcList.length %></i>
                        </div>
                        <div class="picshowtxt_right"></div>
                    </div>
                    <div class="picshowlist">
                        <div class="picshowlist_mid">
                            <div class="picmidleft">
                                <a href="javascript:void(0)" id="preArrow_B">
                                    <span class="sleft"></span>
                                </a>
                            </div>
                            <div class="picmidmid">
                                <ul>
                                    <% for(var i = 0;i < album.srcList.length;i++){ %>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <img src="<%= album.srcList[i] %>"
                                                 alt=""
                                                 bigimg="<%= album.srcList[i] %>"
                                                 text="<%= album.name %>"/>
                                        </a>
                                    </li>
                                    <% } %>

                                </ul>
                            </div>
                            <div class="picmidright">
                                <a href="javascript:void(0)" id="nextArrow_B">
                                    <span class="sright"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--列表展示-->
                <div class="piclistshow">
                    <ul>
                        <% for(var i = 0;i < album.srcList.length;i++){ %>
                        <li>
                            <div class="picimg"><img src="<%= album.srcList[i] %>" alt=""/></div>
                            <div class="pictxt">
                                <h3><%= album.name %><span>(<%= i + 1 %>/12)</span></h3>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <div class="pictext">
                <ul>
                    <%= album.describe %>
                </ul>
            </div>
            <div class="share">
                <p class="diggit">
                    <a href="/share/like/<%= album.id %>" id="handleLike"> 很赞哦！ </a>
                    (<b id="diggnum"><%= album.like %></b>)
                </p>
            </div>
        </main>
    </div>
</article>
<footer>
    <p>Design by <a href="http://www.yangqq.com" target="_blank">杨青个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
<script>
	$(document).ready(function () {
		// 这里是前端做的只能喜欢一次，后端也要做相应处理
		$('#handleLike').one('click', function (e) {
			e.preventDefault()
			var url = this.pathname
			$.get(url, function (data) {
				if (data.result) {
					var num = $('#diggnum').text()
					num++
					$('#diggnum').text(num)
				}
			})
		})
	})
</script>
</html>
